<table class="mat-elevation-z13" *ngIf="products" mat-table [dataSource]="products">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.productName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.imageProduct}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productPrice | currency}}</mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="imagen">
        <mat-header-cell *matHeaderCellDef>Imagen</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <image-upload (uploadFinished)="onUploadFinish($event)">
        </image-upload>
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="eliminar(element)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      
 <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
 
</table>
