.contP{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.logo{
    width: 15rem;
}

.bar{
    background: rgb(36, 36, 43);
    flex: 0 1 auto;
}
.bar a {
    margin: 0;
    margin-right: 8rem;
    font-weight: 700;
}

.contenido {
    flex: 1 1 auto;
  }
  
.padding-10 {
    padding: 10px;
  }
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.navbar a{
    color: var(--blanco);
    margin-right: 8rem;
    font-weight: 700;
}
.navbar a:last-of-type{
    margin: 0;
}
.bar a:hover{
    color: orange;
}