<!-- <mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx">Demo</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="SignIn" routerLinkActive="active">Signin</a>
      <a mat-button mat-raised-button routerLink="Register" routerLinkActive="active">Signup</a>
    </span>
  </mat-toolbar> -->
<div class="contP">
  <mat-toolbar class="bar" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="cajon.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a href="#Home" ><img  alt="logotipo" class="logo" src="assets/logotipo.png"></a>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        <span  style="margin-right: 10px" matBadgeOverlap="false"
        matBadgePosition="below after">Carrito</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item></button>
          <button mat-menu-item><strong></strong></button>
          <!-- <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
            <mat-icon>shopping_cart</mat-icon>
            Terminar compra</a> -->
        </mat-menu>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon opened mode="side">
      <mat-nav-list>
        <p style="margin-left: 4px;">Administrador</p>
        <a mat-list-item routerLink="/Products">
          <mat-icon color="primary">list_alt</mat-icon>
          Productos
        </a>
        <a mat-list-item routerLink="/ventas">
          <mat-icon color="primary">local_shipping</mat-icon>
          Ventas
        </a>
        <mat-divider></mat-divider>
        <p style="margin-left: 4px;">Cliente</p>
        <a mat-list-item routerLink="/tienda">
          <mat-icon color="primary">store</mat-icon>
          Ver tienda
        </a>
        <mat-divider></mat-divider>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>