.hero {
    height: 40rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.seccion-productos{
    background-color: var(--fondo) ;
    height: 50rem;
}
.nuestros-productos{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 4rem;
    margin-top: 3rem;
}
.titulo-productos{
    color: var(--blanco);
    padding: 4rem 0;
}
.productos{
    background-color: var(--amarillo);
    padding: 4rem;
    border-radius: 50%;
    margin-bottom: 7rem;
    
}
.productos h3{
    color: var(--blanco);
    margin-top: 2rem;
    
}
.centrar-texto{
    text-align: center;
}



.hero-contacto{
    background-image:url("../../../assets/hero-contacto.jpg");
    height: 40rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.titulo-hero-contacto{
    color: var(--blanco);
}
.positronxx{
    color: orange;
    background: rgb(36, 36, 43);
}